{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 style="display: flex; justify-content: center;">Signup</h1>

<div class = "signup-container" >   
{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}  
      
    <h1>Admin Register Here</h1>  
  
         <form method="post" >  
             {% csrf_token %}
             
                <label for="first_name">First Name:</label><br>
                <input type="text" name="first_name"> <br>
                <label for="last_name">Last Name</label><br>
                <input type="text" name="last_name"><br>
                <label for="email">Email:</label><br>
                <input type="text" name="email"><br>
                <label for="username">Username:</label><br>
                <input type="text" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password"><br>   
 
         </form>  
     </div>  
     <!--img src="{% static 'img/Aguila.png' %}" width="100%"-->
{% endblock %}